.emailBox{
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}
.emailBox::placeholder{
    color: #d1d1d1;
}
.formInputs{
    margin-bottom: 2rem;
}
.formBtnContainer{
    display: flex;
    align-items: center;
    margin-top: 8rem;
}