.topCardContainer{
    display: flex;
    justify-content: space-between;
}
.topCard{
    width: 25rem;
    margin-right: 2rem;
}
.topCard:last-of-type{
    margin-right: 0;
}
.middleCardContainer{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.middleLeft{
    width: 30rem;
    height: 15rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.middleLeft:last-of-type{
    margin-bottom: 0;
}
.middleRight{
    width: 100%;
    display: flex;
}
.bottomCardContainer{
    height: 20rem;
}
.topCardIconContainer{
    display: flex;
    padding: 0 .5rem;
    justify-content: space-between;
}
.topCardIconContainer img{
    width: 3rem;
    height: 3rem;
}
.topCurrency{
    margin-top: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgb(0, 12, 73);
}
.middleLeft p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(0, 12, 73);
    margin-bottom: 3rem;
}
.clientContainer{
    display: flex;
    width: 100%;
    align-items: center;
}
.clientContainer p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: rgb(0, 12, 73);
    margin: 0;
    margin-right: 3rem;
}
.clientContainer div{
    height: 2rem;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 .5rem;
}
.orangeTile{
    background-color: rgb(247, 133, 104);
}
.greenTile{
    background-color: #97ffba;
}
.recentEmails {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(0, 12, 73);
}
.tableContainer{
    margin-top: 2rem;
}
.tableContent{
    display: flex;
    margin-bottom: 2rem;
}
.tableUserIcon{
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #878787;
    margin-right: 5rem;
}
.nameActionTime{
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #7f7f7f;
}

@media screen and (max-width: 1440px) {
    .middleCardContainer{
        flex-direction: column;
    }
    .middleLeftContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .middleLeft{
        width: 50%;
        margin-bottom: 0;
    }
    .middleLeft:last-of-type{
        margin-right: 0;
    }
  }