@font-face {
  font-family: 'biotif';
  src:
    url('./assets/fonts/dm-sans.woff2') format('woff2 supports variations'),
    url('./assets/fonts/dm-sans.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-style: normal;
}
html {
  font-family: 'biotif';
  font-size: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}